.cpq_inline-warning__color {
    color: #706E6B;
}

.cpq_inline-error__color {
    color: #FFB75D;
}

.cpq_inline-default__color {
    color: #000000;
}
.cpq__error_icon{
    width: fit-content;
}
.cpq__error_message{
    /*width: 96%;*/
    padding-left: 10px;
    font-size: 15px;
    margin-top: 1px;
}
.cpq_inline_error_container{
    padding: 5px 0px;
}